/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z {
  background-color: #f4f5f7;
  border-radius: 2.5px;
  width: 400px;
  height: 900px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid gray;
}
.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.page_title__3jonF {
  padding: 8px;
  background-color: pink;
  text-align: center;
}

.page_taskList__BQqXq {
  padding: 3px;
  transition-duration: background-color 0.2s ease;
  background-color: #f4f5f7;
  flex-grow: 1;
  min-height: 100px;
}

.page_boardContainer__u__J8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: antiquewhite;
  width: "1300px";
  margin: "0 auto";
}

.page_listContainer__9dOUL {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px grey;
  padding: 8px;
  color: #000;
  margin-bottom: 8px;
  min-height: 120px;
  margin-left: 10px;
  margin-right: 10px;
  /* background-color: ${(props) => bgcolorChange(props)}; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

